{{ define "main" }}
		<div id="container">
			<canvas id="dual--canvas" title="taking a line for a walk" width="1000" height="1000"></canvas>
		</div>

		<p class="dowell"><a class="insta" href="https://www.instagram.com/duuldarker/">Do</a>, <a class="twitter" href="https://twitter.com/dualdarker">Well</a>, <a class="email" href="mailto:dowell%20@%20dualdarker%20%20dot%20%20ya'know?Subject=you%20can%20figure%20the%20address%20out,%20right?">Darker</a></p>
		<p class="slog"><a class="the_slog" href="/slog/">Slog</a></p>

		<script type="text/javascript" src="js/dual-functions.js"></script>

		<script>
			var t_canvas = document.getElementById("dual--canvas");
			var tRand = randRangeInt(0, 255);
			var tBG = 'rgba('+tRand+','+tRand+','+tRand+',1)';
			document.body.style.background = tBG;
			if (tRand <= 128) {
				t_canvas.style.border = '1px solid #ccc';
			} else {
				t_canvas.style.border = '1px solid #333';
			}

			if (somePercentage(85)) {
				var gAngle = Math.random()*10;
			} else {
				var gAngle = Math.random()*30;
			}
			var gDrawSpeed = 1; // how fast to draw per frame

			window.onload = function() {
				var ctx = t_canvas.getContext('2d');
				var ctx_w = window.innerWidth*2;
				var ctx_h = window.innerHeight*2;
				ctx.canvas.width = ctx_w;
				ctx.canvas.height = ctx_h;
				var ctx_repeat_pad = 0; // padding needs to be larger than size of object... if wanted real tiling you'd have to do dual drawing in this padding area
				var ctx_w_repeat = ctx_w - ctx_repeat_pad;
				var ctx_h_repeat = ctx_h - ctx_repeat_pad;

				var circles = new Array();
				var positions = new Array(ctx_h*ctx_w).fill(0);
				var gSaveCounter = 0;

				var requestAnimationFrame = window.requestAnimationFrame ||
											window.mozRequestAnimationFrame ||
											window.webkitRequestAnimationFrame ||
											window.msRequestAnimationFrame;

				function Circle(aDrawDistance, aLogDistance, aRadius, aX, aY, aAngle, aColor, aPastBuffer) {
					this.pDrawDistance = aDrawDistance;
					this.pLogDistance = aLogDistance;
					this.pRadius = aRadius;
					this.pX = aX;
					this.pY = aY;
					this.pAngle = aAngle;
					this.pColor = aColor;

					if (aPastBuffer == false) {
						this.pPastBuffer = new Array(Math.round(this.pDrawDistance/this.pLogDistance)*3).fill(0);
					} else {
						this.pPastBuffer = aPastBuffer;
					}
					this.pCrossingBuffer = new Array(2).fill(0);
				}

				Circle.prototype.update = function () {
				//
				// what's the next positon
					// save the old position
					var tPrevX = this.pX;
					var tPrevY = this.pY;
					var tAngleChange = ((Math.PI*2)/360)*gAngle;
					this.pAngle += ( ( Math.random()*tAngleChange ) - ( tAngleChange/2 ) );
					this.pX = xOnCircle(this.pX, this.pY, this.pDrawDistance, this.pAngle);
					this.pY = yOnCircle(this.pX, this.pY, this.pDrawDistance, this.pAngle);
					//
					// what happens at edge of canvas
					if ( this.pX < ctx_repeat_pad ) {
						this.pX = ctx_w_repeat;
					} else if ( this.pX > ctx_w_repeat ) {
						this.pX = ctx_repeat_pad;
					}
					if ( this.pY < ctx_repeat_pad ) {
						this.pY = ctx_h_repeat;
					} else if ( this.pY > ctx_h_repeat ) {
						this.pY = ctx_repeat_pad;
					}
					// END what happens at edge of canvas
					//
					//
					// save the line positions & recent positions buffer
					this.tChangeFlag = false;
					for (var i=1; i<=this.pDrawDistance/this.pLogDistance; i++) {
						var tLogX = xOnCircle(tPrevX, tPrevY, i*this.pLogDistance, this.pAngle);
						var tLogY = yOnCircle(tPrevX, tPrevY, i*this.pLogDistance, this.pAngle);
						if ( tLogX < ctx_repeat_pad ) {
							tLogX = ctx_w_repeat;
						} else if ( tLogX > ctx_w_repeat ) {
							tLogX = ctx_repeat_pad;
						}
						if ( tLogY < ctx_repeat_pad ) {
							tLogY = ctx_h_repeat;
						} else if ( tLogY > ctx_h_repeat ) {
							tLogY = ctx_repeat_pad;
						}
						var tCanvasIndex = (Math.round(tLogY) * ctx_w) + Math.round(tLogX);
						if (this.pPastBuffer.includes(tCanvasIndex) == false) {
							if (positions[tCanvasIndex] == 1) {
								this.tChangeFlag = true;
								this.pCrossingBuffer[0] = 1;
							}
						}
						positions[tCanvasIndex] = 1;
						this.pPastBuffer.push(tCanvasIndex);
						this.pPastBuffer.shift();
					}
					// END save the line positions & recent positions buffer
					//
				// END what's the next positon
				//

				//
				// draw the circle
					//
					// check if "crossing" the line
					if (this.pCrossingBuffer[0] == 1) {
						if (this.pCrossingBuffer[1] == 0) {
							this.pColor = randRGBa('color',1);
						}
						this.pCrossingBuffer.unshift(1);
						this.pCrossingBuffer.pop();
						if (this.pCrossingBuffer[this.pCrossingBuffer.length-1] != 0) {
							this.pCrossingBuffer.fill(0);
						}
					}
					ctx.fillStyle = this.pColor;
					// END check if "crossing" the line
					//
					ctx.beginPath();
					ctx.arc(this.pX, this.pY,
								this.pRadius,
								0,
								Math.PI * 2,
								false);
					ctx.closePath();
					ctx.fill();
				// END draw the circle
				//
				}; // END Circle.prototype.update


				function setupCircles(aNum) {
					for (var i = 0; i < aNum; i++) {
						// start position, directon, color are random
						var tX = Math.round(ctx_repeat_pad + Math.random() * ctx_w_repeat);
						var tY = Math.round(ctx_repeat_pad + Math.random() * ctx_h_repeat);
						var tAngle = Math.random()*(Math.PI*2);
						var tColor = randRGBa('color',1);
						// draw distance is based on size?
						var tRadius = 1.5*2;
						var tDrawDistance = 1.5*2;
						// logging distance is based on pixels
						var tLogDistance = .1;
						// create the circle object and add to objects array
						var tCircle = new Circle(tDrawDistance, tLogDistance, tRadius, tX, tY, tAngle, tColor, false);
						circles.push(tCircle);
					}
					drawAndUpdate();
				}
				setupCircles(1);

				function drawAndUpdate() {
					for (var i=0; i<gDrawSpeed; i++) {
						for (var j = 0; j < circles.length; j++) {
							circles[j].update();
						}
					}
				requestAnimationFrame(drawAndUpdate);
				}
			};

</script>
{{ end }}
